* {
  box-sizing: border-box;
  margin: 0;
}

body,
html {
  height: 100%;
  padding: 0;
}

.container_all {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  color: rgb(211, 198, 198);
  width: 100%;
  background-color: rgb(68, 32, 68);
  height: 10vh;
}

.drop_menu {
  /* margin-left: 2vw; */
  cursor: pointer;
}

.title_and_add {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vw;
}

#add_word {
  margin-left: 10px;
  font-size: 50px;
  cursor: pointer;
}

.container_body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  overflow: scroll;

  background-color: rgb(211, 198, 198);
}

#container_game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

#input_answer {
  width: 30vw;
  height: 7vh;
  font-size: 4vh;
}

.score {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 20vh;
  width: 20vw;
  font-size: 2vh;
}

.c_score,
.h_score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropbtn {
  color: rgb(211, 198, 198);
  padding: 16px;
  font-size: 1.7vw;
  border: none;
  cursor: pointer;
  margin-left: 1vw;
}

/* Dropdown button on hover & focus */
.dropbtn:hover,
.dropbtn:focus {
  background-color: rgb(172, 15, 172);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown_content {
  display: none;
  position: absolute;
  background-color: rgba(68, 32, 68, 0.8);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
  margin-left: 0;
}

/* Links inside the dropdown */
.dropdown_content h3 {
  color: rgb(211, 198, 198);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown_content h3:hover {
  background-color: rgb(172, 15, 172);
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display: block;
  animation: dropdown 400ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes dropdown {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.open_button {
  background-color: #ddd;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form_popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form_container {
  max-width: 300px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Full-width input fields */
.form_container input[type="text"],
.form_container input[type="password"],
.form_container select {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form_container input[type="text"]:focus,
.form_container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form_container .btn {
  background-color: rgb(68, 32, 68);
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
  color: #ddd;
}

/* Add a red background color to the cancel button */
.form_container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form_container .btn:hover,
.open_button:hover {
  opacity: 1;
}

#wordsTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  overflow: scroll;
}

#wordsTable td,
#wordsTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

/* #wordsTable tr:nth-child(even) {
  background-color: #f2f2f2;
} */

#wordsTable tr:hover {
  background-color: #ddd;
}

#wordsTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgb(107, 45, 107);
  color: white;
}

#tableWrapper {
  width: 100%;
  height: 100%;
}

.positiveScore {
  color: green;
}

.negativeScore {
  color: red;
}

#edit_form_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#delete_word {
  cursor: pointer;
  margin-right: 20px;
}
